 <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Github Search API - Angular2</h3>
      </div>

      <div class="jumbotron">
        <h1>Alexander Londoño Espejo</h1>
        <p class="lead">Simple search Api Github - Framework Javascript Angularjs Version 2</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>

      <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <app-github></app-github>
                </div>                    
            </div>
      </div>
</div>


